<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title"><strong>Data Master - Dosen</strong></h3>
		</div><!--/panel-heading-->
		
		<div class="panel-body">

			<table border=0 class='table'>
				<tr>
					<td>  
						<form class="form-inline" role="form">
							<div class="form-group">
								<label for="txtnip">NIP</label>
							
								<% if (NIPSearch === '') { %>
								<input type="text" class"form-control" placeholder="Search" name="nip" id="txtnip" maxlength=18 onkeypress="return isNumberKey(event)"></input>
								<% } else { %>
								<input type="text" class"form-control" placeholder="Search" name="nip" id="txtnip" maxlength=18 onkeypress="return isNumberKey(event)" value=<%= NIPSearch %> ></input>
								<% } %>
								
							</div>
							<button type="submit" class="btn btn-default">Cari</button>
						</form>
					</td>
					<td width=5%>  
						<a class="btn btn-medium btn-primary" href="/dosen/new/">Tambah</a>
					</td>
				</tr>
			</table><!--/table-->

			
			<% var counter = 1; %>
			<table class='table'>
				<tr class="success">
					<th>No</th>
					<th>NIP</th>
					<th>Nama</th>
					<th></th>
					<th></th>
				</tr>
				
				<% _.each(dosen, function(dosen) { %>
				
				<% if (NIPSelect === dosen.nip) { %>
				<tr class="danger" data-id="<%= dosen.id %>" data-model="dosen">
				<% } else { %>
				<tr data-id="<%= dosen.id %>" data-model="dosen">
				<% } %>
						
					<td><%= counter++ %></td>
					<td><%= dosen.nip %></td>
					<td><%= dosen.nama %></td>
					
					<td><a href="/dosen/edit/<%= dosen.id %>" class="btn btn-sm btn-warning">Ubah</a></td>
		
					<td><form action="/dosen/del/<%= dosen.id %>" method="POST">
						<input type="hidden" name="_method" value="delete"/>
						<input type="submit" class="btn btn-sm btn-danger" value="Hapus"/>
					</form></td>
				</tr> 
				<% }) %>
			</table><!--/table-->
		
		
		</div><!--/panel-body-->
	</div><!--/panel-primary-->
</div><!--/container-->

<script>
	function isNumberKey(evt) {
		var charCode = (evt.which) ? evt.which : event.keyCode
		if (charCode > 31 && (charCode < 48 || charCode > 57))
			return false;
		return true;
	}
</script>

